trunk/ClienteWebWS/src/conf/xml-resources/web-service-references/ListarRNC/wsdl/localhost_8080/ProjetoIntegradorII/ListarRNC.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.rnc.utfpr.edu.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.rnc.utfpr.edu.br/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listarRncs" type="tns:listarRncs"/>

<xs:element name="listarRncsResponse" type="tns:listarRncsResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarRncs">
<xs:sequence>
<xs:element name="situacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarRncsResponse">
<xs:sequence>
<xs:element name="return" type="tns:rncService" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rncService">
<xs:sequence>
<xs:element name="abrangenciaDaAcao" type="xs:string" minOccurs="0"/>
<xs:element name="aprovado" type="xs:boolean"/>
<xs:element name="causaProvavel" type="xs:string" minOccurs="0"/>
<xs:element name="codigoProduto" type="xs:string" minOccurs="0"/>
<xs:element name="comentarioAnalise" type="xs:string" minOccurs="0"/>
<xs:element name="dataAnalise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dataRnc" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descricaoNc" type="xs:string" minOccurs="0"/>
<xs:element name="descricaoProduto" type="xs:string" minOccurs="0"/>
<xs:element name="disposicao" type="xs:string" minOccurs="0"/>
<xs:element name="documentoOrigem" type="xs:string" minOccurs="0"/>
<xs:element name="eficaz" type="xs:string" minOccurs="0"/>
<xs:element name="emitente" type="xs:string" minOccurs="0"/>
<xs:element name="empresaEmitente" type="xs:string" minOccurs="0"/>
<xs:element name="finalizado" type="xs:boolean"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="numeroLote" type="xs:string" minOccurs="0"/>
<xs:element name="origemRnc" type="xs:string" minOccurs="0"/>
<xs:element name="placa" type="xs:string" minOccurs="0"/>
<xs:element name="quantidadeRecebida" type="xs:int"/>
<xs:element name="quantidadeReprovada" type="xs:int"/>
<xs:element name="relatorio" type="xs:string" minOccurs="0"/>
<xs:element name="responsavel" type="xs:string" minOccurs="0"/>
<xs:element name="rrc" type="xs:boolean"/>
<xs:element name="setorEmitente" type="xs:string" minOccurs="0"/>
<xs:element name="setorResponsavel" type="xs:string" minOccurs="0"/>
<xs:element name="tipoAcaoProposta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>